{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block content %}
<p>
{% if player.round_number == 1 %}
    Ihnen wurde zufällig die Rolle B zugewiesen. Sie werden im Folgenden zwei Runden spielen. Sie
    werden dabei zweimal mit der Ihnen zugeordneten Person A interagieren. Für jede Interaktion erhält Person A einen
    Betrag von 1 Euro, den sie aufteilen kann. <br/>
    <br/>
    In dieser Runde hat Person A {{ kept }} für sich behalten. Damit haben Sie <strong>{{ offer }}</strong> von Person A erhalten.<br>
    Bitte <strong>beantworten</strong> Sie nun wieder die folgenden <strong>Fragen</strong>. Klicken Sie dann auf
    <strong>„weiter“</strong>.
{% endif %}

{% if player.round_number == 2 %}
    Ihnen wurde nun dieselbe Person wie in der ersten Runde zugeteilt.
    <br/>
    In dieser Runde hat Person A {{ kept }} für sich behalten. Damit haben Sie <strong>{{ offer }}</strong> von Person A erhalten.<br>
    Bitte <strong>beantworten</strong> Sie nun wieder die folgenden <strong>Fragen</strong>. Klicken Sie dann auf
    <strong>„weiter“</strong>.
{% endif %}

</p>

<p>
    In welchem Maß empfinden Sie einen Konflikt bezüglich des von Person A gesendeten Betrags?
</p>
    <table style="text-align:left">
  <tr>
    <td colspan="2">überhaupt <br/>
        nicht</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        stark
    </td>
  </tr>
    <tr>
        {% for choice in form.confl %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

<p>
    Wie schlecht fühlen Sie sich bezüglich des von Person A gesendeten Betrags?
</p>
 <table style="text-align:left">
    <tr>
    <td colspan="2">überhaupt <br/>
        nicht schlecht</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
        <td colspan="2">sehr <br/>
        schlecht
    </td>
    </tr>
    <tr>
        {% for choice in form.bad %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

<p>
    Wie gut fühlen Sie sich bezüglich des von Person A gesendeten Betrags?
</p>
 <table style="text-align:left">
  <tr>
    <td colspan="2">überhaupt <br/>
        nicht gut</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        gut
    </td>
  </tr>
    <tr>
        {% for choice in form.good %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

{% if player.round_number == 1 %}

<p>
    Würden Sie nochmal mit dieser Person spielen?
</p>
<table>
  <tr>
    <td colspan="2">sehr <br/>
        unwahrscheinlich</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        wahrscheinlich
    </td>
  </tr>
    <tr>
        {% for choice in form.p_a %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

<p>
    Würden Sie nochmal mit einer anderen Person spielen?
</p>
    <table>
  <tr>
    <td colspan="2">sehr <br/>
        unwahrscheinlich</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
        <td colspan="2">sehr <br/>
        wahrscheinlich
    </td>
  </tr>
    <tr>
        {% for choice in form.p_a_o %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

{% endif %}

{% next_button %}

{% endblock %}