{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block content %}

<p>Sie haben der Person B {{ offer }} abgegeben und <strong>{{ kept }}</strong> für sich behalten.</p>

<p>
    Bitte <strong>beantworten</strong> Sie die folgenden <strong>Fragen</strong>. Klicken Sie dann auf <strong>„weiter“</strong>.
</p>

<p>
    Wie zufrieden sind Sie mit dem von Ihnen gesendeten Betrag?
</p>

    <table>
    <tr>
    <td colspan="2">sehr <br/>
        unzufrieden</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>

    <td colspan="2">sehr <br/>
        zufrieden
    </td>
  </tr>
        <tr>
            {% for choice in form.satisfied %}
            <td style="padding: 10px 30px">{{ choice }}</td>
            {% endfor %}
            <td>&nbsp</td>
        </tr>
    </table>

<p>
    Wie sehr bereuen Sie den von Ihnen gesendeten Betrag?
</p>

    <table>
  <tr>
    <td colspan="2">überhaupt <br/>
        nicht</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        stark
    </td>
  </tr>
    <tr>
        {% for choice in form.regret %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

<p>
    Würden Sie nochmal mit dieser Person spielen?
</p>

    <table>
  <tr>
    <td colspan="2">sehr <br/>
        unwahrscheinlich</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        wahrscheinlich
    </td>
  </tr>
    <tr>
        {% for choice in form.p_a %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

<p>
    Würden Sie nochmal mit einer anderen Person spielen?
</p>

    <table>
  <tr>
    <td colspan="2">sehr <br/>
        unwahrscheinlich</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
        <td colspan="2">sehr <br/>
        wahrscheinlich
    </td>
  </tr>
    <tr>
        {% for choice in form.p_a_o %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

{% next_button %}

{% endblock %}