{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block styles %}
<style> .otree-timer { display: none; } </style>
{% endblock %}

{% block content %}

<p>
{% if player.round_number == 1 %}
    <strong>Ihnen wurde zufällig die Rolle A zugewiesen. </strong>Sie werden im Folgenden zwei Runden spielen. Sie
    werden dabei zweimal mit der Ihnen zugeordneten Person B interagieren. Für jede Interaktion erhalten Sie einen
    Betrag von 1 Euro, den Sie aufteilen können.<br/>
    <br/>
    Geben Sie bitte nun irgendeinen Betrag zwischen 0 und 100 Cent an Person B für diese Runde ab.<br/>
{% endif %}

{% if player.round_number == 2 %}
    Ihnen wurde nun dieselbe Person wie in der ersten Runde zugeteilt.
    <br/>
    Geben Sie bitte nun wieder irgendeinen Betrag zwischen 0 und 100 Cent an Person B für diese Runde ab.<br/>
{% endif %}

    <br/>
    {% formfield player.offer %}
    <br/>
</p>

{% next_button %}

{% endblock %}