{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Einführung{% endblock %}

{% block content %}
<p>
    Liebe Studienteilnehmer*innen,
</p>
<p>
    herzlichen Dank für Ihr Interesse an der Teilnahme an dieser Online-Studie des Decision Lab. Bitte lesen Sie
    sich die folgenden Informationen durch und bestätigen Ihre Teilnahme. Im Anschluss beginnt dann die Studie, die
    circa 10 Minuten dauert. Eine Teilnahme ist nur an einem Computer oder Tablet möglich.
</p>
<p>
    Für die Teilnahme an dieser Studie erhalten Sie einen Pauschalbetrag von 2 Euro. Sie können zusätzlich in
    Abhängigkeit von Ihren Entscheidungen bzw. den Entscheidungen anderer Studienteilnehmer*innen einen Betrag von
    0 bis 2€ verdienen.
</p>
<p>
    Die meisten der folgenden Fragen lassen sich spontan und zügig durch Anklicken einer
    Antwortalternative beantworten. Hierbei geht es um Ihre persönlichen Einschätzungen. Dementsprechend gibt es
    keine richtigen oder falschen Antworten.
</p>
<p>
    Bitte lesen Sie sich die Instruktionen genau durch. Zu Beginn gibt es drei Verständnisfragen und Sie können nur
    dann mit der Studie fortfahren, wenn Sie diese korrekt beantwortet haben.
</p>
{% next_button %}
{% endblock %}
