{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Abschluss der Studie{% endblock %}

{% block content %}

<p>
    Für Ihre Teilnahme an der Studie erhalten Sie <strong>{{ total_p1 }}</strong>.
</p>

<p>
    Damit ist diese Studie abgeschlossen. Vielen Dank für Ihre Teilnahme! Ziel dieser Studie ist es, zu untersuchen,
    ob Entscheidungen in sozialen Interaktionen konfliktbehaftet sind und welche Konsequenzen der wahrgenommene
    Konflikt hat (z.B. die Bereitschaft zur erneuten Interaktion). Darüber hinaus wollen wir herausfinden, ob bestimmte
    abgegebene Beträge zu einem größeren wahrgenommenen Konflikt führen. Uns interessiert außerdem, ob die
    unterschiedlichen Spielerrollen die Situation unterschiedlich wahrnehmen. Wir bitten Sie, diese Details unseres
    Forschungsprojekts nicht weiter zu kommunizieren, da wir sonst mit verfälschten Studienergebnissen rechnen müssen!
</p>
<p>
    Vielen Dank für Ihre Unterstützung unserer Forschung! Bei weiteren Fragen wenden Sie sich gerne an die
    Studienverantwortlichen: Iris Schneider (<a href="i.k.schneider@uni-koeln.de">i.k.schneider@uni-koeln.de</a>) und
    Angela Dorrough (<a href="angela.dorrough@uni-koeln.de">angela.dorrough@uni-koeln.de</a>)
</p>
<p>
    Die anonymisierten und aggregierten Daten können Sie nach Ablauf der Studie im Open Science Framework
    einsehen (<a href="https://osf.io/74czy/">https://osf.io/74czy/</a>).
</p>

{% endblock %}