{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block content %}

<p>Leider konnte Ihnen keine andere Person zugeteilt werden. Sie werden daher eine Runde mit einer <strong>hypothetischen</strong> Person spielen.</p>
Ihnen wird deshalb ein vorher festgelegter Betrag nach Abschluss der Studie ausgezahlt. <br>
Der von Ihnen gesendete Betrag wird sich nicht auf den Auszahlungsbetrag auswirken. <br>

Antworten Sie bei den folgenden Fragen also so, als würden Sie mit einer realen Person interagieren.</p>

{% next_button %}
{% endblock %}