{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block styles %}
<style> .otree-timer { display: none; } </style>
{% endblock %}

{% block content %}

<p>
{% if player.round_number == 1 %}
    <strong>Ihnen wurde zufällig die Rolle A zugewiesen. </strong>Sie werden im Folgenden zwei Runden spielen. Sie werden
    dabei mit unterschiedlichen Personen A interagieren. Das heißt, es wird Ihnen für die zweite Aufgabe eine neue
    Person A zugelost. Für jede Interaktion erhält Person A einen Betrag von 1 Euro, den sie aufteilen kann. <br/>
    <br/>
    Geben Sie bitte nun irgendeinen Betrag zwischen 0 und 100 Cent an Person B für diese Runde ab.<br/>
{% endif %}

{% if player.round_number == 2 %}
    Ihnen wurde nun eine andere Person als in der ersten Runde zugeteilt.
    <br/>
    Geben Sie bitte nun wieder irgendeinen Betrag zwischen 0 und 100 Cent an Person B für diese Runde ab.<br/>
{% endif %}

    <br/>
    {% formfield player.offer %}
</p>

{% next_button %}

{% endblock %}