{% extends "global/Page.html" %}
{% load otree %}

{% block title %}Entscheidungsaufgabe{% endblock %}

{% block content %}

<p>Sie haben der Person B {{ offer }} abgegeben und <strong>{{ kept }}</strong> für sich behalten.</p>

<p>
    Bitte <strong>beantworten</strong> Sie die folgenden <strong>Fragen</strong>. Klicken Sie dann auf <strong>„weiter“</strong>.
</p>

<p>
    In welchem Maß empfinden Sie einen Konflikt bezüglich des von Ihnen gesendeten Betrags?
</p>
 <table style="text-align:left">
  <tr>
    <td colspan="2">überhaupt <br/>
        nicht</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        stark
    </td>
  </tr>
    <tr>
        {% for choice in form.confl %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>


<p>
    Wie schlecht fühlen Sie sich bezüglich des von Ihnen gesendeten Betrags?
</p>
 <table style="text-align:left">
    <tr>
    <td colspan="2">überhaupt <br/>
        nicht schlecht</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
        <td colspan="2">sehr <br/>
        schlecht
    </td>
    </tr>
    <tr>
        {% for choice in form.bad %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>
<p>
    Wie gut fühlen Sie sich bezüglich des von Ihnen gesendeten Betrags?
</p>
 <table style="text-align:left">
  <tr>
    <td colspan="2">überhaupt <br/>
        nicht gut</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
      <td>&nbsp</td>
    <td colspan="2">sehr <br/>
        gut
    </td>
  </tr>
    <tr>
        {% for choice in form.good %}
        <td style="padding: 10px 30px">{{ choice }}</td>
        {% endfor %}
        <td>&nbsp</td>
    </tr>
</table>

{% next_button %}

{% endblock %}